<%- include('includes/header'); -%>
<%- include('includes/navbar'); -%>

<main>
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Registro / Login</h1>
            <p class="text-center lead">Faça login ou crie sua conta a baixo</p>

            <%- include('includes/messages'); -%>

            <div class="row">
                <div class="col-lg text-center">
                    <h4>Faça seu cadastro</h4>
                    <p>Se você ainda não possui uma conta, preencha o formulário abaixo:</p>

                    <form action="/auth/register" method="POST" id="formRegister">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div class="mb-3">
                          <label for="nameRegister" class="form-label">Seu Nome</label>
                          <input type="text" class="form-control" id="nameRegister" name="nameRegister" placeholder="Nome">
                        </div>

                        <div class="mb-3">
                          <label for="emailRegister" class="form-label">Seu E-mail</label>
                          <input type="email" class="form-control" id="emailRegister" name="emailRegister" placeholder="E-mail">
                        </div>

                        <div class="mb-3">
                          <label for="passwordRegister" class="form-label">Sua Senha</label>
                          <input type="password" class="form-control" id="passwordRegister" name="passwordRegister" placeholder="Senha">
                        </div>

                        <button type="submit" class="btn btn-primary">Criar minha conta</button>
                    </form>
                </div>

                <div class="col-lg text-center">
                    <h4>Entrar no sistema</h4>
                    <p>Se você já possui uma conta, faça o login abaixo:</p>

                    <form action="/auth/login" method="POST" id="formLogin">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div class="mb-3">
                          <label for="emailLogin" class="form-label">Seu E-mail</label>
                          <input type="email" class="form-control" id="emailLogin" name="emailLogin" placeholder="E-mail">
                        </div>

                        <div class="mb-3">
                          <label for="passwordLogin" class="form-label">Sua Senha</label>
                          <input type="password" class="form-control" id="passwordLogin" name="passwordLogin" placeholder="Senha">
                        </div>

                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</main>

<%- include('includes/footer'); -%>
